{{#each this}}
        <li class="js-item" id="{{id}}">
           <h1>{{title}}</h1>
           <p>{{director}}</p>
           <button class="del" id="{{id}}">Удалить</button>
        </li>
{{/each}}